{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - EasyWeddings</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-br from-[#fdf5f5] to-[#c3f7f8] font-['Poppins',sans-serif]">    

    <header id="header" class="py-4 px-8 sticky top-0 z-10 backdrop-blur-md bg-white/70">
        <div class="container mx-auto flex items-center justify-between">
          
            <a href="/" class="logo flex items-center space-x-3">
                <img src="{% static 'assets/img/logo.png' %}" alt="Logo" class="h-10">
                <h1 class="sitename text-2xl font-bold text-gray-800">EasyWeddings</h1>
            </a>
            
            
            
            <div>
               
                <a class="bg-pink-600 text-white px-4 py-2 rounded-lg font-semibold hover:bg-pink-700" href="register">Register</a>
            </div>
        </div>
    </header>
    
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="max-w-md w-full p-8 bg-white/80 rounded-2xl shadow-md">
            <h1 class="text-2xl font-extrabold text-gray-800 text-center">Forgot Password</h1>
           

            <form action="/reset-password" method="POST" class="space-y-6 mt-6">
                {% csrf_token %}
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Input your Email"
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-pink-500 text-sm placeholder-gray-400">
                </div>

                <div>
                    <button type="submit"
                        class="w-full bg-gray-700 hover:bg-gray-800 text-white py-2 rounded-lg font-semibold text-sm">
                        Send E-mail
                    </button>
                </div>
            </form>
        </div>
    </div>   
    <footer id="footer" class="footer">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-about">
                    <a href="/" class="logo d-flex align-items-center">
                        <span class="sitename">EazyWeddings</span>
                    </a>
                    <p>Planning a wedding can be a whirlwind of excitement and stress...</p>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About us</a></li>
                        {% if user.userprofile.user_type == 'customer' %}
                            <li><a href="/customer">Services</a></li>
                        {% elif user.userprofile.user_type == 'service-provider' %}
                            <li><a href="/service-provider">Services</a></li>
                        {% else %}
                            <li><a href="/#services">Services</a></li>
                        {% endif %}
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        {% for service in services %}
                            <li><a href="/#services">{{service.service_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 footer-contact">
                    <h4>Contact Us</h4>
                    <p>Dr. Vishnuvardhana Road, RNS Farms Rd,<br> Bengaluru, Karnataka - 560098</p>
                    <p><strong>Phone:</strong> +91 10101 01010</p>
                    <p><strong>Email:</strong> EazyWeddings@gmail.com</p>
                </div>
            </div>
        </div>
    </footer> 

</body>
</html>